//VARS
$color_pos : #5cb85c;
$color_neg : #d9534f;


//END VARS

.wallet-main
	{
	text-align:center;
	}

.wallet-deposit,
.wallet-withdraw
	{
	padding-top:20px;
	min-height:200px;
	overflow:hidden;
	}

.wallet-total
	{
	font-size:5em;
	font-weight:bold;
	}

.wallet-alert
	{
	margin:10px 0;
	}


table.transactions-table
	{
	td
		{
		line-height:1.3em !important;
		vertical-align:middle !important;
		}
	.header-amount
		{
		text-align:right;
		}
	.transaction-amount
		{
		font-weight:bold;
		font-size:1.3em;
		text-align:right;
		}
	.transaction-in
		{
		.transaction-amount
			{
			color:$color_pos;
			}
		}
	.transaction-out
		{
		.transaction-amount
			{
			color:$color_neg;
			}
		}
	}


.wallet-reset
	{
	text-align:center;
	h1
		{
		font-size : 4em;
		color:$color_neg;
		}
	.reset-choice
		{
		font-size:2em;
		margin:10px 10px;
		}
	}

.wallet-create
	{
	text-align:center;
	h1
		{
		font-size : 4em;
		color:$color_pos;
		}
	form
		{
		text-align:center;
		}
	.currency-selector
		{
		width:300px;
		margin: 0 auto;
		}
	.create-choice
		{
		font-size:2em;
		margin:10px 10px;
		}
	}