<h1>Transaction List</h1>
<table class="table table-striped table-hover transactions-table">
	<thead>
        <tr>
        	<th></th>
          	<th>Date</th>
         	<th>Amount</th>
        </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="transaction in wallet.transactions | orderBy:-date" class="transaction-row transaction-{{transaction.dir}}">
    		<td class="transaction-data">{{transaction.dir =="in" ? "Deposit" : "Withdraw"}}</td>
    		<td class="transaction-data">{{transaction.date | date:"dd/MM/yyyy 'at' h:mm:ss a"}}</td>
    		<td class="transaction-amount">
    			<span class="transaction-dir">{{transaction.dir =="in" ? "+" : "-"}}</span>
    			<span class="transaction-value"> {{transaction.amount}}</span>
    			<span class="transaction-currency"> {{currencies[wallet.currency].symbol}}</span>
    		</td>
    	</tr>
    </tbody>
</table>